 
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
 font-style: normal;
}
 
.header{
    background-image: url(../assets/Hero-bg.png);
    width: 2000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
/* banner styles */
.text-center{text-align: center;}
.banner{ display: block;
    margin: 30px 220px;
    align-items: center;
}
.banner-img{ display: block;
    margin: 0 auto;}

.banner-title{ font-size: 48px;
font-weight: 800;
color:rgba(13, 19, 33, 100%);}

.banner-description{ font-size: 16px;
padding:0px;}

/* button styles */

.btn-primary{background-color: #0D1321 ;
font-weight: 700px;
color: white;
padding: 21px 24px;
font-size: larger;
border-radius: 10px;}

.button-text{ text-align: center;}

/* web-dev-styles */
.web-dev{ margin: 80px 97px;
    display: flex;}
    .web-title{ 
        margin: 80px 162px;
        text-align: center;}
    .dev-title{ font-size: 40px;
    font-weight: 800;text-align: center;
    color:rgba(13, 19, 33, 100%);}
    .title{  
        padding: 48px 47px;
    color: #0D1321;
text-align: center;}
.web-dev-description{ font-size: 16px;
 }

    /* web subtext styles */
    .web-subtext-1{
       margin: 48px 48px;
    display: flex;
    justify-content: space-between;
text-align: left;}
    .coding-title{font-size: 26px;
    font-weight: 700;
text-align: left;
color:rgba(13, 19, 33, 0.68);}
.coding-description{ text-align: left;
}

.button{ 
    margin: 32px auto;
    padding: 12px 20px;
background-color: white;
font-size: 20px;
font-weight: 600;
color:rgba(13, 19, 33, 0.78)}

/* web-subtext-2 styles */
.web-subtext-2{ display: flex;
text-align: left;}
.coding-2{ margin: 48px ;
    padding: 0 32px;}
.coding-title-2{font-size: 26px;
    font-weight: 700;
text-align: left;
color:rgba(13, 19, 33, 0.68);
}

.coding-description-2{
font-size: 16px;}
/* my inspiration styles */
.my-inspiration{ margin: 88px;}

.inspo-text{ text-align: center;}
.inspo-title{ font-size: 32px;
font-weight: 800;}
.inspo-vid{ padding: 32px;
text-align: center;}

/* current target/section-3 styles*/
.section-3{margin: 150px;}

.current-target{
padding: 0px 144px 48px 144px;
text-align: center;}
.target-title{ 
font-size: 32px;
font-weight: 800;}
/* icon styles */
.icons{ display: flex;
justify-content: space-between;
margin: 48px 150px;}
/* background-1 */
.background-1{ background-color:rgba(255, 76, 30, 0.05) ;
margin: 0px 24px}

.HTML{
margin: 40px}
/* background-2 */
.background-2{background-color: rgba(0, 76, 232, 0.05);
    margin: 0px 24px}

.css{
    margin: 40px
}
/* background-3 */
.background-3{background-color: rgba(255, 223, 0, 0.05);
    margin: 0px 24px}

.javascript{
    margin: 40px}

 .learn{ text-decoration: underline;
font-weight: 700;
color: black;
padding: 5px auto;}